<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
  <xacro:macro name="sensor_sick_tim571" params="prefix parent prefix_topic:='front_laser' *origin min_angle:=-1.57 max_angle:=1.57">
     
    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link"/>
    </joint>
  
    
    <link name="${prefix}_base_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://husky_ur3_description/meshes/sick_tim/sick_tim571.dae"/>
        </geometry>
      </collision>
  
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://husky_ur3_description/meshes/sick_tim/sick_tim571.dae"/>
        </geometry>
      </visual>
  
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>
    
    <joint name="${prefix}_joint" type="fixed">
      <origin xyz="0 0 0.06246" rpy="0 0 0"/>
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_link"/>
    </joint>
  
    
    <link name="${prefix}_link">
    </link>
    
  </xacro:macro>
  
</robot>
